﻿@model IEnumerable<ViewModel.Master.CourseViewModel>

@*<p>
        @Html.ActionLink("Create New", "CourseInsert")
    </p>*@
<div class="page ">
    <div class="page-header">
        <h1 class="page-title">Course</h1>
        <div class="page-header-actions">
            <a href="@Url.Action("CourseInsert", "Master")"><input type="button" value="Add Course" class="btn btn-primary" /></a>
        </div>
    </div>
    <div class="page-content">
        <!-- Panel Form Elements -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Course List</h3>
            </div>
            <div class="panel-body container-fluid">

                <table class="table table-striped table-bordered table-hover" id="CourseTable">
                    <thead class="thead-default">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Stream)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stream)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "CourseUpdate", new { id = item.CourseID }) |
                                    @Html.ActionLink("Delete", "CourseDelete", new { id = item.CourseID }, new { onclick = "return confirm('Are you sure you wish to delete this Course?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CourseTable').DataTable();
    });
</script>