﻿@model IEnumerable<ViewModel.Master.Streams>



<div class="page ">
    <div class="page-header">
        <h1 class="page-title">Stream</h1>
        <div class="page-header-actions">
            <a href="@Url.Action("StreamInsert", "Master")"><input type="button" value="Add Stream" class="btn btn-primary" /></a>
        </div>
    </div>
    <div class="page-content">
        <!-- Panel Form Elements -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Stream List</h3>
            </div>
            <div class="panel-body container-fluid">

                <table class="table table-striped table-bordered table-hover" id="streamTable">
                    <thead class="thead-default">
                        <tr>
                            @*<th class="studentHeader">
        @Html.DisplayNameFor(model => model.StreamID)
    </th>*@
                            <th class="studentHeader">
                                @Html.DisplayNameFor(model => model.StreamName)
                            </th>
                            <th class="studentHeader">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                            @Html.DisplayFor(modelItem => item.StreamID)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.StreamName)
                                </td>
                                <td>

                                    @Html.ActionLink("Edit", "StreamUpdate", new { id = item.StreamID }, new { @class = "btn-outline" }) |

                                    @*@Html.ActionLink("Delete", "StreamDelete", new { id = item.StreamID })*@
                                    @Html.ActionLink("Delete", "StreamDelete", new { id = item.StreamID }, new { onclick = "return confirm('Are you sure you wish to delete this Stream?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#streamTable').DataTable();
    });
</script>