/* Customised CSS used in the Project*/

.page-content
{
    padding: 10px 10px;
}
@media (max-width:768px)
{
    .page-content
    {
        padding: 15px 0px;
    }
}
.col-sm-3
{
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.col-sm-6
{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.panel
{
    margin-bottom: 10px;
}
.img-thumbnail
{
    opacity: 0.8;
}

.form-group
{
    margin-bottom: 10px;
}
.panel-body
{
    padding: 10px 10px;
}
/* Temp customization for header*/
/*
.site-navbar-small .site-navbar {
    height: 40px;
    min-height: 30px;
}

.site-navbar-small .site-navbar .navbar-brand {
    height: 40px;
    padding: 8px 20px;
}
.site-navbar .navbar-header .navbar-brand-logo {
    height: 30px;
   
}

.site-navbar-small .site-navbar .navbar-toolbar > li > a {
    padding-top: 14px;
    padding-bottom: 5px;
}
.site-navbar-small .site-navbar .navbar-toolbar > li > a.navbar-avatar {
    padding-top: 5px;
    padding-bottom: 5px;
}

*/
/*.site-action
{
    position: fixed;
    z-index: 1290;
    bottom: 10px;
    right: 50px;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}
.btn-floating
{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    border-radius: 100%;
    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    box-shadow: 0 6px 10px rgba(0,0,0,.15);
}
.modal-dialog
{
    width: 330px;
    margin: 115px 10px;
    height: 500px;
}

*/
.fixed-slider
{
    position: fixed;
    z-index: 1290;
    padding-top: 0px;
    padding-left: 0px;
    width: 25%; /*  position: fixed;     z-index: 1290;     padding-top: 0px;     padding-right: 0px;     width: 25%;*/
}
