﻿@model ViewModel.Master.Streams


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-profile animsition">
        <div class=" page-content">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Page Widget -->
                    <div class="widget widget-shadow text-center">
                        <div class="widget-header">
                            <div class="widget-header-content">
                                <div class="text-center">
                                    <a class="avatar avatar-lg" href="javascript:void(0)">
                                        <img src="~/assetsTim/img/ryan.jpg" alt="..." />
                                    </a>
                                </div>
                                <h4 class="profile-user">Vilas Holkar</h4>
                                <p class="profile-brief">+91-9874461230</p>
                                <p class="profile-brief">Stream</p>
                                <p class="profile-brief">Course</p>
                                <p class="profile-brief">Batch</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Page Widget -->
                </div>
                <div class="col-sm-9">
                    <!-- Panel -->
                    <div class="panel">
                        <div class="panel-body nav-tabs-animate nav-tabs-horizontal nav-tabs-neutral">
                            <ul class="nav nav-tabs " data-plugin="nav-tabs" role="tablist">
                                <li class="active" role="presentation">
                                    <a aria-expanded="true" data-toggle="tab"
                                       href="#profile" aria-controls="profile" role="tab">Profile</a>
                                </li>
                                <li class="" role="presentation">
                                    <a aria-expanded="false" data-toggle="tab" href="#admission"
                                       aria-controls="admission" role="tab">Admission</a>
                                </li>
                                <li class="" role="presentation">
                                    <a aria-expanded="false" data-toggle="tab" href="#performance"
                                       aria-controls="performance" role="tab">Performance</a>
                                </li>
                                <li class="dropdown" role="presentation" style="display: none;">
                                    <a class="dropdown-toggle"
                                       data-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="caret"></span>
                                        Menu
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" style="display: none;">
                                            <a data-toggle="tab" href="#profile"
                                               aria-controls="profile" role="tab">Profile</a>
                                        </li>
                                        <li role="presentation" style="display: none;">
                                            <a data-toggle="tab" href="#admission"
                                               aria-controls="admission" role="tab">Admission</a>
                                        </li>
                                        <li class="" role="presentation">
                                            <a aria-expanded="false" data-toggle="tab" href="#performance"
                                               aria-controls="performance" role="tab">Performance</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile" role="tabpanel">
                                    pwerio oinreoineonnnnnnnioe roienr oiewnrpweo nrd;lsnfsnpwernweoi n
                                    d spfondsponsd fopdnifoisd nofpsd nf lzdfn sdlfsdnjeipwunf sduilnfkdk;fsd
                                    nfpdsnfopsdif odsnflksdnf ldkzfndpofds nkjxnfd'f
                                    sdfndslfsdnfpisdb ndlkn
                                </div>
                                <div class="tab-pane " id="admission" role="tabpanel">
                                    dsfds fdnsfldofidnfp dfiod fondsopfdsfdsFD flis;fnds
                                    ds fodsfodsfnds nfosdnfp dosfosdinf psdon
                                </div>
                                <div class="tab-pane " id="performance" role="tabpanel">
                                    pwerio oinreoineonnnnnnnioe roienr oiewnrpweo nrd;lsnfsnpwernweoi n
                                    d spfondsponsd fopdnifoisd nofpsd nf lzdfn sdlfsdnjeipwunf sduilnfkdk;fsd
                                    nfpdsnfopsdif odsnflksdnf ldkzfndpofds nkjxnfd'f
                                    sdfndslfsdnfpisdb ndlkn
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel -->
                </div>
            </div>
        </div>
    </div>
}

