﻿@model IEnumerable<ViewModel.Student.StudentViewModel>

<script>
    $(document).ready(function () {
        $('#studentTable').DataTable({
            "columnDefs": [
               { "visible": false, "targets": 0 },
            { "visible": false, "targets": 1 },
  
            ]
        });
    });
</script>
<div class="page ">
    <div class="page-header">
        <h1 class="page-title">Student</h1>
        @*<div class="page-header-actions">
                <a href="@Url.Action("EnquiryInsert", "Enquiry")"><input type="button" class="btn btn-primary" value="Add Enquiry" /></a>
            </div>*@
    </div>
    <div class="page-content">
        <!-- Panel Form Elements -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Student List</h3>
            </div>
            <div class="panel-body container-fluid">

                <table class="table table-striped table-bordered table-hover" id="studentTable" style="width:100%;">
                    <thead class="thead-default">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MobileNo)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileNo)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>